@layer layout {
	.container {
		max-width: 1500px;
		margin: 0 auto;
		padding: var(--space-md);
	}

	[hidden] {
		display: none !important;
	}

	#tab-panel-model,
	#tab-panel-upload {
		display: none;
	}

	#tab-panel-model.active,
	#tab-panel-upload.active {
		display: block;
	}
}
