@layer layout {
	.container {
		max-width: 1500px;
		margin: 0 auto;
		padding: var(--space-md);
	}

	[hidden] {
		display: none !important;
	}

	.tab-panel {
		display: none;
	}

	.tab-panel.active {
		display: block;
	}
}
